*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
body{
    display: grid;
    height: 100%;
    grid-template-rows: 100px 1fr 100px;
}
html{
    height: 100%;
}
.catalog{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    column-gap: 30px;
    background-color: black;
    padding: 20px;
}
.catalog_item{
    background-color: #191B1C;
    color: white;
}


@media(max-width:992px){
    .catalog{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:576px){
    .catalog{
        grid-template-columns: repeat(2,1fr);
    }
}
